MOLIVE_INPUT=/input
MOLIVE_OUTPUT=/output
MOLIVE_DATA=/data
MOLIVE_SCAN_INTERVAL=300
MOLIVE_STABLE_SECONDS=120
MOLIVE_WORKERS=2
MOLIVE_TRANSCODE_WORKERS=1
MOLIVE_JPEG_QUALITY=96
MOLIVE_VIDEO_CRF=17
MOLIVE_WEB_PORT=8787
MOLIVE_USE_QSV=auto
MOLIVE_ALLOW_HDR_SDR_FALLBACK=false
MOLIVE_BASELINE_ON_FIRST_RUN=false
PUID=1000
PGID=1000
